<!--
	此示例下载自 https://echarts.apache.org/examples/zh/editor.html?c=radar&code=PYBwLglsB2AEC8sDeAoWtJgDYFMBcya6GOAHmAQOQBCAhgM4QDGsASrQCa0BOsAwgAseYSkQC-AGiK4A5jmgcCqYrC5haBANqVAjIGBj5UADnoDAgwKMGlALrip6bpx5Ki6APRPY9ISHyxKTCNya4lNbEEArMtGDA3FqOxEiw0LQAtl6UgBYRgCj2gKGKgJ3aQbBJtKQEAEwArAAMsJKx6PGJKVSAv2qAbdqAlEqAU275hcWw5VU1KnUJyamAd6mAGRmAn9qAat7dRaWV1cEq9aNUk4DRcoBvcvO9_cu1yCON3oBG-oCGMYAl0YCn7nuLAyuwluiDbjjcEDj0MatHDalqABXDhyMCwABu9DcnjC0BkQSOYAAnp4qLYuNxEUNVBENLBNEc6kTiBDaFggV5NCUKgBmCSwACcJQZAA4ACwMgCM7LKDJp7PMTxxAKoAEEsFhgEwIjgOLBgaCcCISTUji9iGIiJYxABuIA
	⚠ 请注意，该图表不是 Apache ECharts 官方示例，而是由用户代码生成的。请注意鉴别其内容。
-->
<!DOCTYPE html>
<html lang="zh-CN" style="height: 100%">
<head>
  <meta charset="utf-8">
</head>
<body style="height: 100%; margin: 0">
  <div id="container" style="height: 100%"></div>

  
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.4.2/dist/echarts.min.js"></script>
  <!-- Uncomment this line if you want to dataTool extension
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.4.2/dist/extension/dataTool.min.js"></script>
  -->
  <!-- Uncomment this line if you want to use gl extension
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts-gl@2/dist/echarts-gl.min.js"></script>
  -->
  <!-- Uncomment this line if you want to echarts-stat extension
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts-stat@latest/dist/ecStat.min.js"></script>
  -->
  <!-- Uncomment this line if you want to use map
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@4.9.0/map/js/china.js"></script>
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@4.9.0/map/js/world.js"></script>
  -->
  <!-- Uncomment these two lines if you want to use bmap extension
  <script type="text/javascript" src="https://api.map.baidu.com/api?v=3.0&ak=YOUR_API_KEY"></script>
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.4.2/dist/extension/bmap.min.js"></script>
  -->

  <script type="text/javascript">
    var dom = document.getElementById('container');
    var myChart = echarts.init(dom, null, {
      renderer: 'canvas',
      useDirtyRect: false
    });
    var app = {};
    
    var option;

    option = {
  title: {
    text: 'Basic Radar Chart'
  },
  legend: {
    data: ['脱口秀舆情']
  },
  radar: {
    // shape: 'circle',
    indicator: [
      { name: '表演内容', max: 250 },
      { name: '国家利益', max: 250 },
      { name: '问题对策', max: 250 },
      { name: '问题事件', max: 250 },
      { name: '形象认知', max: 250 },
    ]
  },
  series: [
    {
      name: 'Budget vs spending',
      type: 'radar',
      data: [
        {
          value: [203, 92, 84, 145, 204],
          name: 'Allocated Budget'
        },

      ]
    }
  ]
};

    if (option && typeof option === 'object') {
      myChart.setOption(option);
    }

    window.addEventListener('resize', myChart.resize);
  </script>
</body>
</html>